<div style="margin-left: 100px" align="left">
  <img id="imgPrincipal" src="assets/Images/home2.jpg">
</div>

<nav id="app" class="navbar navbar-expand-sm justify-content-center ">
  <!-- <a class="navbar-brand" href="#">Sistema de Gestión de Horarios</a>-->
  <div class="justify-content-center" id="navbarNavDropdown">
    <ul class="nav justify-content-end">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Materias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Carga
          Académica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li class="dropdown-item1">
        <a id="op1" [routerLink]="['/modificar_user']" [routerLinkActive]="['activado']">Usuario</a>
      </li>
      <li class="dropdown-item2">
        <a id="op2" (click)="logout()" [routerLinkActive]="['activado']">Salir</a>
      </li>
  </div>
  </li>
  </ul>
  </div>
</nav>

<div class="container1" aling="center">
  <div class="col-md-4">
    <h4 id="tit">{{titulo}}</h4>
  </div>
  <hr>
  <div class="col-md-2">
    <button id="botonAgregar" type="button" (click)="agregarCargaAcademica()" class="btn btn-success">
      Agregar
    </button>
  </div>

  <div class="container2">
    <div class="row">
      <div class="col-md-4">
        <p class="btn btn-default" data-toggle="modal" style="font-size: 20px;">{{subTitulo}}
      </div>
      <hr>
    </div>
    <div id="select" style="width: 34%;height: 35px; margin-left: 66%; margin-top: -11%" class="row">
      <label for="cursoAct">
        <span style="font-size: 20px;">Por cursos </span>
      </label>

      <select name="curso2" style="width:220%; height: 35px;" #curso2="ngModel" id="curso2" [(ngModel)]="curso.id"
        (change)="obtenerCargaPorCurso($event.target.selectedIndex)">
        <option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</option>
      </select>
    </div>
    <br><br><br>
    <div class="table-responsive-xl">
      <table class="table table-sm">
        <tbody *ngFor="let cargasAcademicas of cargaAcademica" align="center">
          <tr>
            <td style="text-align: left;">
              <button class="btn btn-default" data-toggle="modal" (click)="cargaInfo(cargasAcademicas.id)">
                {{ cargasAcademicas.detalleAsignatura }}
              </button>
            </td>
            <td>
              <img (click)="deleteCarga(cargasAcademicas.id)" src="assets/Images/eliminar.png" style="height: 24px;">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
    </div>
  </div>

  <div class="container3">
    <p id="subtitulo" data-toggle="modal">Detalles</p>
    <hr>

    <form #formCargaAcademica="ngForm" id="form-cargaAcademica" (ngSubmit)="onSubmit()" style=" padding-left: 30px;
              padding-top: 15px;">
      <div class="row">
        <div class="form-group col-md-6">
          <label>
            Materia
          </label>
          <select name="nombre" class="form-control" #nombre="ngModel" id="nombre"
            [(ngModel)]="infoCargaAcademica.asignatura" style=" height: 35px">
            <option *ngFor="let materia of materias" [value]="materia.id">{{ materia.nombre }}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label>
            Horas Académicas
            <span *ngIf="!horasAcademicas.valid && horasAcademicas.touched" class="badge badge-danger">
              Este campo no puede estar vacio.
            </span>
          </label>
          <input type="number" class="form-control" #horasAcademicas="ngModel" name="horasAcademicas"
            [(ngModel)]="infoCargaAcademica.horas" style=" height: 35px; width: 94%;" min="1" max="6" pattern="[+0-9]">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>
            Profesor
          </label>
          <select class="form-control" #apellidoProf="ngModel" name="apellidoProf"
            [(ngModel)]="infoCargaAcademica.docente" minlength="2" style="height: 35px; width: 100%;"
            [value]="docente.apellido">
            <option *ngFor="let profesor of profesores" [value]="profesor.id">{{ profesor.nombre }}
              {{ profesor.apellido }} </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label>
            Curso Escolar
          </label><br>
          <select name="cursosAct" #cursosAct="ngModel" [(ngModel)]="infoCargaAcademica.curso"
            style="height: 35px; width: 94%;">
            <option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</option>
          </select>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Status</label>
          <div class="form-group">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="activo" value="activo"
                #activo="ngModel" name="activo" [(ngModel)]="infoCargaAcademica.status" checked>
              <label class="form-check-label" for="activo">
                Activo
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="inactivo" value="inactivo"
                #inactivo="ngModel" name="inactivo" [(ngModel)]="infoCargaAcademica.status" checked>
              <label class="form-check-label" for="inactivo">
                Inactivo
              </label>
            </div>
          </div>
        </div>
      </div>
    </form><br>
    <div align="left" class="bttn">
      <button id="botonguardar" type="submit" [disabled]="!formCargaAcademica.form.valid" class="btn btn-info"
        (click)="updateCarga(infoCargaAcademica.id)">Actualizar Información</button>
    </div>
  </div>
</div>


<br><br>

<footer id="piePagina" class="" aling="center" style="color:white;">
  <p>All content copyright &copy; 2020, Sistema de Gestión de Horarios.</p>
</footer>