<nav id="navbar" class="col-lg-12">
  <ul>
    <li id="titulo">U.E INSTITUTO ELENA DE BUENO</li>
  </ul>
</nav>
<div id="content">

  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <img src="assets/Images/logo.jpg" style="height: 200px; width: 200px;">
      </div>

      <ul class="list-unstyled components">
        <p align="center">Menú</p>
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
        </li>
        <li class="active">
          <a href="#Materias" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Materias
          </a>
          <ul class="collapse list-unstyled" id="Materias">
            <li>
              <a [routerLink]="['/add-materia']" [routerLinkActive]="['activado']">Agregar Materia</a>
            </li>
            <li>
              <a [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Listado de
                Materias</a>
            </li>
          </ul>
        </li>
        <li class="active">
          <a href="#profesores" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Profesores
          </a>
          <ul class="collapse list-unstyled" id="profesores">
            <li>
              <a [routerLink]="['/add-profesor']" [routerLinkActive]="['activado']">Agregar Profesor</a>
            </li>
            <li>
              <a [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Listado de
                Profesores</a>
            </li>
          </ul>
        </li>
        <li class="active">
          <a href="#cargaAcademica" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Curso
          </a>
          <ul class="collapse list-unstyled" id="cargaAcademica">
            <li>
              <a [routerLink]="['/add-curso']" [routerLinkActive]="['activado']">Agregar Curso</a>
            </li>
            <li>
              <a [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Ver Cursos</a>
            </li>
            <li>
              <a [routerLink]="['/add-cargaAcademica']" [routerLinkActive]="['activado']">Agregar Carga
                Académica</a>
            </li>
            <li>
              <a [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Ver Carga
                Académica</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
        </li>
        <li class="active">
          <a href="#administracion" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Administración
          </a>
          <ul class="collapse list-unstyled" id="administracion">
            <li>
              <a [routerLink]="['/modificar_user']" [routerLinkActive]="['activado']">Modificar
                Usuario</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
          </ul>
        </li>

        <br><br><br><br><br><br><br><br><br><br><br>
        <li>
          <a type="button" *ngIf="currentUser" (click)="logout()" align="center">Desconectarse</a>
        </li>
      </ul>

    </nav>

    <div class="container">
      <!-- TITULO Y BUSCADOR -->
      <div class="row">
        <!-- Titulo -->
        <div class="col-md-4">
          <h4 id="">{{titulo}}</h4>
        </div>
      </div>
      <hr>
      <hr>

      <p class="btn btn-default" data-toggle="modal" style="font-size: 20px;">{{subTitulo}}
        <div>
          <form #formCargaAcademicaOne="ngForm" id="form-cargaAcademicaOne" (ngSubmit)="onSubmit()" style=" padding-left: 30px;
          padding-top: 15px">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="nombre">
                  Materia
                  <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">
                    Este campo no puede estar vacio.
                  </span>
                </label><br>
                <select name="nombre" class="form-control" #nombre="ngModel" id="nombre"
                  [(ngModel)]="cargaAcademica.asignatura" style="width:440px; height: 35px" pattern="[a-zA-Z0-9]">
                  <option [value]=""> </option>
                  <option *ngFor="let materia of materias" [value]="materia.id">{{ materia.nombre }}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label>Curso</label><br>
                <select name="cursosAct" #cursosAct="ngModel" [(ngModel)]="cargaAcademica.curso"
                  style="width:440px; height: 35px">
                  <option [value]=""> </option>
                  <option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label>
                  Nombre Profesor
                </label><br>
                <select name="profesor" #profesor="ngModel" [(ngModel)]="cargaAcademica.docente"
                  style="width:440px; height: 35px" (change)="apellido($event.target.selectedIndex)">
                  <option [value]=""> </option>
                  <option *ngFor="let profesor of profesores" [value]="profesor.id">{{ profesor.nombre }}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label>
                  Apellido Profesor
                </label><br>
                <input type="text" class="form-control" #apellidoProf="ngModel" name="apellidoProf"
                  [(ngModel)]="cargaAcademica.apellidoProfesor" pattern="[a-zA-Z]*" minlength="2"
                  placeholder="Apellido del Profesor" style="width:440px; height: 35px" [value]="docente.apellido"
                  readonly>
              </div>
              <div class="form-group col-md-6">
                <label>
                  Horas Académicas
                  <span *ngIf="!horasAcademicas.valid && horasAcademicas.touched" class="badge badge-danger">
                    Este campo no puede estar vacio.
                  </span>
                </label>
                <input type="number" class="form-control" #horasAcademicas="ngModel" name="horasAcademicas"
                  [(ngModel)]="cargaAcademica.horas" min="1" max="6"
                  placeholder="Introduzca la cantidad de horas por semana" pattern="[+0-9]">
              </div>

              <div class="form-group col-md-6">
                <label>Status</label>
                <div class="form-group">
                  <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="typeActivo" id="typeActivo" value="Activo"
                      [(ngModel)]="cargaAcademica.estatus" checked>
                    <label class="form-check-label" for="typeActivo">
                      Activo
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="typeInactivo" id="typeInactivo" value="Inactivo"
                      [(ngModel)]="cargaAcademica.estatus" unckecked>
                    <label class="form-check-label" for="{{(cargaAcademica.estatus)?'Activo:Inactivo'}">
                      Inactivo
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div align="left" class="bttn">
              <button id="botonguardar" type="submit" [disabled]="!formCargaAcademicaOne.form.valid"
                class="btn btn-info">Guardar
              </button>
              <button id="botonborrar" type="reset" class="btn btn-danger">Borrar</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>