<div class="container">
  <!-- TITULO Y BUSCADOR -->
  <div class="row">
    <!-- Titulo -->
    <div class="col-md-2">
      <h4 id="titulo">{{titulo}}</h4>
    </div>
  </div>
  <hr>


    <p class="btn btn-default" data-toggle="modal" style="font-size: 20px;">{{subTitulo}}
      <p>Primer Año</p>
      <div>
        <form #formCargaAcademicaOne="ngForm" id="form-cargaAcademicaOne" (ngSubmit)="onSubmit()" style=" padding-left: 30px;
          padding-top: 15px">
          <div class="row">
            <div class="form-group col-md-12">
              <label>
                Materia
              </label>
              <select name="nombre" #nombre="ngModel" [(ngModel)]="cargaAcademica.nombre">
                <option *ngFor="let materia of materias" value="materia.id" >{{ materia.nombre }}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>
                Nombre Profesor
              </label>
              <select name="profesor" #profesor="ngModel" [(ngModel)]="cargaAcademica.nombreProfesor" (change)="apellido($event.target.selectedIndex)">
                <option *ngFor="let profesor of profesores" value="profesor.id" >{{ profesor.nombre }}</option>
              </select>
             <!-- <input type="text" class="form-control" #nombreProfesor="ngModel" name="nombreProfesor"
                [(ngModel)]="cargaAcademica.nombreProfesor" pattern="[a-zA-Z]*" minlength="2"
                placeholder="Introduzca el nombre del Profesor"> -->
            </div>
            <div class="form-group col-md-6">
              <label>
                Apellido Profesor
                <span *ngIf="!apellidoProfesor.valid && apellidoProfesor.touched" class="badge badge-danger">
                  Este campo no puede estar vacio.
                </span>
              </label>
              <input type="text" class="form-control" #apellidoProfesor="ngModel" name="apellidoProfesor"
                [(ngModel)]="cargaAcademica.apellidoProfesor" pattern="[a-zA-Z]*" minlength="2"
                placeholder="Introduzca el apellido del Profesor" [(value)]="docente.apellido">
            </div>
            <div class="form-group col-md-6">
              <label>
                Horas Académicas
                <span *ngIf="!horasAcademicas.valid && horasAcademicas.touched && horasAcademicas!==0"
                  class="badge badge-danger">
                  Este campo no puede estar vacio.
                </span>
              </label>
              <input type="number" class="form-control" #horasAcademicas="ngModel" name="horasAcademicas"
                [(ngModel)]="cargaAcademica.horasAcademicas" min="1" max="4"
                placeholder="Introduzca la cantidad de horas por semana" pattern="[+0-9]">
            </div>
            <div class="form-group col-md-6">
                  <label>Curso</label>
                     <select>
                           <option *ngFor="let curso of cursos" value="curso.id">{{ curso.nombre }}</option>
                     </select>
            </div>
            <div class="form-group col-md-6">
              <label>Status</label>
              <div class="form-group">
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="activo" value="option1" checked>
                  <label class="form-check-label" for="activo">
                    Activo
                  </label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="inactivo" value="option2">
                  <label class="form-check-label" for="inactivo">
                    Inactivo
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div align="left" class="bttn">
            <button id="botonguardar" type="submit" [disabled]="!formCargaAcademicaOne.form.valid"
              class="btn btn-info" (click)="refresh()">Guardar</button>
            <button id="botonborrar" type="reset" class="btn btn-danger">Borrar</button>
          </div>
        </form>
      </div>
  </div>

