.container {
  margin-top: 4%;
    margin-right: 00px;
    margin-left: 70px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px;
    padding: 30px;
    padding-top: 20px;
    max-width: 100%;
    min-height: 80%;
    width: 91%;
    overflow: hidden;
    background-color: white;
}

#tit{
  font-size: 30px;
  margin-top: 12px;
}

#subtitulo {
  font-size: 20px;
}

.bttnCurso {
  padding-top: 10px;
  margin-left: 18%;
  margin-bottom: -28px;
}

.bttnCurso #b1, #b2, #b3, #b4, #b5 {
  padding-right: 15px;
  margin-right: 5px;
}
#botonguardar, #botonborrar {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 5px;
}



#select{
margin-left: 30px;
}

#piePagina{
  background: #1abc9c;
  margin-top: 15%;
    padding: 5px;
    padding-top: 20px;
    color: white !important;
    text-align: center;
    font-size: 16px;
    max-width: 99%; 
    margin-left: 6px;
}