<div>
  <img id="imgPrincipal" src="assets/Images/home2.jpg">
</div>

<nav id="app" class="navbar navbar-expand-sm justify-content-center ">
  <!-- <a class="navbar-brand" href="#">Sistema de Gestión de Horarios</a>-->
  <div class="justify-content-center" id="navbarNavDropdown">
    <ul class="nav justify-content-end">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Materias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Carga
          Académica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li class="dropdown-item1">
        <a id="op1" [routerLink]="['/modificar_user']" [routerLinkActive]="['activado']">Usuario</a>
      </li>
      <li class="dropdown-item2">
        <a id="op2" (click)="logout()" [routerLinkActive]="['activado']">Salir</a>
      </li>
  </div>
  </li>
  </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4 id="tit">{{titulo}}</h4>
    </div>
    <div id="select" style="width:64%; height: 35px; margin-left: 66%;" class=" col-md-2">
      <label for="cursoAct">
        <span style="font-size: 20px;">Por Curso </span>
      </label>
      <select name="cursoAct" style="width:93%; height: 35px;" #cursoAct="ngModel" id="cursoAct" [(ngModel)]="curso.id"
        (change)="obtenerHorarioPorCurso($event.target.selectedIndex)">
        <option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</option>
      </select>
    </div>
  </div>
  <hr>
  <div class="col-md-12">
    <button type="button" id="selectCursos" (click)="generarHorarioPorCurso()" class="btn btn-primary" style="height: 43px;
    width: 100%;
    margin-left: 0%;
    color: white;
    background-color: green; border-color: green;
    padding-top: 2px; padding-top: 0px;">
      <p style="font-size: 24px;">Generar Horario</p>
    </button>
  </div>

  <br>
  <div class="table-responsive-xl">
    <div>
      <div>
        <p>{{curso.nombre}}</p>
        <table class="table table-bordered table-sm" align="center">
          <thead class="thead-dark" align="center">
            <tr style="font-size: 16px;" style="font-family: Arial;">
              <td thead class="thead-dark"><b>Horas</b></td>
              <td><b>Lunes</b></td>
              <td><b>Martes</b></td>
              <td><b>Miercoles</b></td>
              <td><b>Jueves</b></td>
              <td><b>Viernes</b></td>
            </tr>
          </thead>

          <tbody class="table-sm">
            <tr *ngFor="let horas of bloqueDeHorario">
              <td align="center" style="font-family: Arial;"> {{horas.inicioBloque}} a
                {{horas.finBloque}}</td>
              <td align="center" style="font-family: Arial;" *ngFor="let dia of [1, 2, 3, 4, 5]">
                {{hallar(horas.id, dia)}} </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<footer id="piePagina" class="" aling="center" style="color:white;">
  <p>All content copyright &copy; 2020, Sistema de Gestión de Horarios.</p>
</footer>