<div style="margin-left: 100px" align="left">
  <img id="imgPrincipal" src="assets/Images/home2.jpg">
</div>

<nav id="app" class="navbar navbar-expand-sm justify-content-center ">
  <!-- <a class="navbar-brand" href="#">Sistema de Gestión de Horarios</a>-->
  <div class="justify-content-center" id="navbarNavDropdown">
    <ul class="nav justify-content-end">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Materias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Carga
          Académica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li class="dropdown-item1">
        <a id="op1" [routerLink]="['/modificar_user']" [routerLinkActive]="['activado']">Usuario</a>
      </li>
      <li class="dropdown-item2">
        <a id="op2" (click)="logout()" [routerLinkActive]="['activado']">Salir</a>
      </li>
  </div>
  </li>
  </ul>
  </div>
</nav>

<div class="container">
  <!-- TITULO Y BUSCADOR -->
  <div class="row">
    <!-- Titulo -->
    <div class="col-md-2">
      <h4>Administración</h4>
    </div>
  </div>
  <hr>
  <hr>

  <p id="subtitulo" class="btn btn-default" data-toggle="modal">Modificar Usuario de Login</p><br>

  <form #formModifUser="ngForm" (ngSubmit)="onSubmit()" style="padding-left: 30px; padding-top: 15px">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="nombre">Usuario</label>
        <input type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="modificarUsuario.usuario"
          pattern="[0-9]+" minlength="6" maxlength="8" required>
      </div>
      <div class="form-group col-md-6">
        <label>
          Correo Electronico
          <span *ngIf="!email.valid && email.touched" class="badge badge-danger">
            Este campo no puede estar vacio.
          </span>
        </label>
        <input type="email" class="form-control" id="email" #email="ngModel" name="email"
          [(ngModel)]="modificarUsuario.email" pattern="[a-zA-Z0-9@.]*" minlength="6"
          placeholder="Introduzca su nuevo email..">
      </div>
      <div class="form-group col-md-6">
        <label>
          Contraseña
          <span *ngIf="!pass.valid && pass.touched" class="badge badge-danger">
            Este campo no puede estar vacio.
          </span>
        </label>
        <input type="password" class="form-control" id="pass" #pass="ngModel" name="pass"
          [(ngModel)]="modificarUsuario.pass" pattern="[a-zA-Z0-9]*" minlength="8" required
          placeholder="Introduzca su nueva contraseña">
      </div>
      <div class="form-group col-md-6">
        <label>
          Verificar Contraseña
          <span *ngIf="!rPass.valid && rPass.touched" class="badge badge-danger">
            Este campo no puede estar vacio.
          </span>
        </label>
        <input type="password" class="form-control" id="rPass" #rPass="ngModel" name="rPass"
          [(ngModel)]="modificarUsuario.rPass" pattern="[a-zA-Z0-9]*" minlength="8" required
          placeholder="Introduzca nuevamente su contraseña">
      </div>

      <div align="left" class="bttn">
        <button id="botonguardar" type="submit"
          (click)="updateModifUser(modificarUsuario.pass, modificarUsuario.rPass, modificarUsuario.usuario)"
          [disabled]="!formModifUser.form.valid" class="btn btn-primary">Actualizar</button>
        <button id="botonborrar" type="reset" class="btn btn-danger">Borrar</button>
      </div>
    </div>
  </form>

</div>


<br><br>

<footer id="piePagina" class="" aling="center" style="color:white;">
  <p>All content copyright &copy; 2020, Sistema de Gestión de Horarios.</p>
</footer>