.container1 {
  margin-top: 60px;
  margin-left: 22%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #ccc;
  padding: 30px;
  padding-top: 20px;
  min-height: 80%;
  max-width: 55%;
  min-width: 0%;
  

  overflow: hidden;
}

.container2 {
 margin-top: 3%;
    margin-right: 50px;
    margin-left: 14%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px green;
    padding: 30px;
    padding-top: 21px;
    max-width: 100%;
    min-height: 80%;
    width: 72%;
    overflow: hidden;
    float: left;
    padding-left: 4%;
    padding-bottom: 5%;
}

.container3 {
 margin-top: 3%;
    margin-right: 2%;
    margin-left: 0%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px green;
    padding: 30px;
    padding-top: 20px;
    padding-right: 0%;
    padding-left: 0%;
    max-width: 100%;
    min-height: 80%;
    min-width: 50%;
    overflow: hidden;
    float: right;
}

#titulo {
  
}

#subtitulo {
      font-size: 23px !important;
    padding-left: -8% !important;
    padding-top: 0% !important
}

#botonAgregar {
 margin-top: 5px;
    height: 40px;
    margin-left: 10%;
    max-width: 700%;
    min-width: 80%;
    width: 660%;

}

.imgEdit {
}

.imgDelete {
  padding-left: 40px;
}
