<div style="margin-left: 100px" align="left">
  <img id="imgPrincipal" src="assets/Images/home2.jpg">
</div>

<nav id="app" class="navbar navbar-expand-sm justify-content-center ">
  <!-- <a class="navbar-brand" href="#">Sistema de Gestión de Horarios</a>-->
  <div class="justify-content-center" id="navbarNavDropdown">
    <ul class="nav justify-content-end">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Materias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Carga
          Académica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li class="dropdown-item1">
        <a id="op1" [routerLink]="['/modificar_user']" [routerLinkActive]="['activado']">Usuario</a>
      </li>
      <li class="dropdown-item2">
        <a id="op2" (click)="logout()" [routerLinkActive]="['activado']">Salir</a>
      </li>
  </div>
  </li>
  </ul>
  </div>
</nav>

<div class="container">
  <!-- TITULO Y BUSCADOR -->
  <div class="row">
    <!-- Titulo -->
    <div class="col-md-2">
      <h4 id="titulo"><b>{{titulo}}</b></h4>
    </div>
    <div id="botonAgregar" class="col-md-2">
      <button type="button" (click)="irAtras()" class="btn btn-danger" style="height: 40px; width: 180px;">
        Cancelar
      </button>
    </div>
  </div>
  <hr>

  <p id="subtitulo" class="btn btn-default" data-toggle="modal">{{subTitulo}}</p><br>

  <form #formProfesores="ngForm" id="form-profesores" (ngSubmit)="onSubmits()"
    style="padding-left: 30px; padding-top: 15px">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>
          Nombre
          <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">
            Este campo no puede estar vacio.
          </span>
        </label>
        <input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="profesor.nombre"
          pattern="[a-zA-Z\s]*" minlength="2" placeholder="Introduzca el nombre del Profesor" required>
      </div>
      <div class="form-group col-md-6">
        <label>
          Apellido
          <span *ngIf="!apellido.valid && apellido.touched" class="badge badge-danger">
            Este campo no puede estar vacio.
          </span>
        </label>
        <input type="text" class="form-control" #apellido="ngModel" name="apellido" [(ngModel)]="profesor.apellido"
          pattern="[a-zA-Z\s]*" minlength="2" placeholder="Introduzca el apellido del Profesor" required>
      </div>
      <div class="form-group col-md-6">
        <label>
          Cedula
          <span *ngIf="!cedula.valid && cedula.touched" class="badge badge-danger">
            Este campo no puede estar vacio.
          </span>
        </label>
        <input type="text" class="form-control" #cedula="ngModel" name="cedula" [(ngModel)]="profesor.cedula"
          pattern="[0-9]*" minlength="6" maxlength="8" placeholder="Introduzca la cedula del Profesor" required>
      </div>
      <div class="form-group col-md-6">
        <label>
          Teléfono
          <span *ngIf="!telefono.valid && telefono.touched" class="badge badge-danger">
            Este campo no puede estar vacio.
          </span>
        </label>
        <input type="text" class="form-control" #telefono="ngModel" name="telefono" [(ngModel)]="profesor.telefono"
          pattern="[0-9]*" minlength="11" maxlength="11" placeholder="Introduzca el telefono del Profesor" required>
      </div>
      <div class="form-group col-md-6">
        <label for="correo">
          Email
          <span *ngIf="!correo.valid && correo.touched" class="badge badge-danger">
            Este campo no puede estar vacio.
          </span>
        </label>
        <input type="email" class="form-control" #correo="ngModel" name="correo" [(ngModel)]="profesor.correo"
          minlength="5" pattern="[0-9a-zA-z@.-]*" placeholder="Introduzca el email del Profesor" required>
      </div>
      <div class="form-group col-md-6">
        <label>Status</label>
        <div class="form-group">
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="activo" value="activo"
              [(ngModel)]="profesor.status" checked>
            <label class="form-check-label" for="activo">
              Activo
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="inactivo" value="inactivo">
            <label class="form-check-label" for="inactivo">
              Inactivo
            </label>
          </div>
        </div>
      </div>
    </div>
    <div align="left" class="bttn">
      <button id="botonguardar" type="submit" class="btn btn-info"
        [disabled]="!formProfesores.form.valid">Guardar</button>
      <button id="botonborrar" type="reset" class="btn btn-danger">Borrar</button>
    </div>

  </form>

</div>

<br><br>
<footer id="piePagina" class="" aling="center" style="color:white;">
  <p>All content copyright &copy; 2020, Sistema de Gestión de Horarios.</p>
</footer>