<nav id="navbar" class="col-lg-12">
  <ul>
    <li id="titulo">U.E INSTITUTO ELENA DE BUENO</li>
  </ul>
</nav>
<div id="content">

  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <img src="assets/Images/logo.jpg" style="height: 200px; width: 200px;">
      </div>

      <ul class="list-unstyled components">
        <p align="center">Menú</p>

        <!-- <li>
            <a [routerLink]="['/login']" [routerLinkActive]="['desactivado']">Login</a>
        </li>-->
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
        </li>
        <li class="active">
          <a href="#Materias" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Materias
          </a>
          <ul class="collapse list-unstyled" id="Materias">
            <li>
              <a [routerLink]="['/add-materia']" [routerLinkActive]="['activado']">Agregar Materia</a>
            </li>
            <li>
              <a [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Listado de
                Materias</a>
            </li>
          </ul>
        </li>
        <li class="active">
          <a href="#profesores" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Profesores
          </a>
          <ul class="collapse list-unstyled" id="profesores">
            <li>
              <a [routerLink]="['/add-profesor']" [routerLinkActive]="['activado']">Agregar Profesor</a>
            </li>
            <li>
              <a [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Listado de
                Profesores</a>
            </li>
          </ul>
        </li>
        <li class="active">
          <a href="#cargaAcademica" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Curso
          </a>
          <ul class="collapse list-unstyled" id="cargaAcademica">
            <li>
              <a [routerLink]="['/add-curso']" [routerLinkActive]="['activado']">Agregar Curso</a>
            </li>
            <li>
              <a [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Ver Cursos</a>
            </li>
            <li>
              <a [routerLink]="['/add-cargaAcademica']" [routerLinkActive]="['activado']">Agregar Carga
                Académica</a>
            </li>
            <li>
              <a [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Ver Carga
                Académica</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
        </li>
        <li class="active">
          <a href="#administracion" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Administración
          </a>
          <ul class="collapse list-unstyled" id="administracion">
            <li>
              <a [routerLink]="['/modificar_user']" [routerLinkActive]="['activado']">Modificar
                Usuario</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
          </ul>
        </li>

        <br><br><br><br><br><br><br><br><br><br><br>
        <li>
          <a type="button" *ngIf="currentUser" (click)="logout()" align="center">Desconectarse</a>
        </li>
      </ul>

    </nav>

    <div class="container">
      <!-- TITULO Y BUSCADOR -->
      <div class="row">
        <!-- Titulo -->
        <div class="col-md-2">
          <h4 id="titulo"><b>{{titulo}}</b></h4>
        </div>
        <div id="botonAgregar" class="col-md-2">
          <button type="button" (click)="irAtras()" class="btn btn-danger" style="height: 40px; width: 180px;">
            Cancelar
          </button>
        </div>
      </div>
      <hr>

      <p id="subtitulo" class="btn btn-default" data-toggle="modal">{{subTitulo}}</p><br>

      <form #formProfesores="ngForm" id="form-profesores" (ngSubmit)="onSubmits()"
        style="padding-left: 30px; padding-top: 15px">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>
              Nombre
              <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">
                Este campo no puede estar vacio.
              </span>
            </label>
            <input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="profesor.nombre"
              pattern="[a-zA-Z\s]*" minlength="2" placeholder="Introduzca el nombre del Profesor" required>
          </div>
          <div class="form-group col-md-6">
            <label>
              Apellido
              <span *ngIf="!apellido.valid && apellido.touched" class="badge badge-danger">
                Este campo no puede estar vacio.
              </span>
            </label>
            <input type="text" class="form-control" #apellido="ngModel" name="apellido" [(ngModel)]="profesor.apellido"
              pattern="[a-zA-Z\s]*" minlength="2" placeholder="Introduzca el apellido del Profesor" required>
          </div>
          <div class="form-group col-md-6">
            <label>
              Cedula
              <span *ngIf="!cedula.valid && cedula.touched" class="badge badge-danger">
                Este campo no puede estar vacio.
              </span>
            </label>
            <input type="text" class="form-control" #cedula="ngModel" name="cedula" [(ngModel)]="profesor.cedula"
              pattern="[0-9]*" minlength="6" maxlength="8" placeholder="Introduzca la cedula del Profesor" required>
          </div>
          <div class="form-group col-md-6">
            <label>
              Teléfono
              <span *ngIf="!telefono.valid && telefono.touched" class="badge badge-danger">
                Este campo no puede estar vacio.
              </span>
            </label>
            <input type="text" class="form-control" #telefono="ngModel" name="telefono" [(ngModel)]="profesor.telefono"
              pattern="[0-9]*" minlength="11" maxlength="11" placeholder="Introduzca el telefono del Profesor" required>
          </div>
          <div class="form-group col-md-6">
            <label for="correo">
              Email
              <span *ngIf="!correo.valid && correo.touched" class="badge badge-danger">
                Este campo no puede estar vacio.
              </span>
            </label>
            <input type="email" class="form-control" #correo="ngModel" name="correo" [(ngModel)]="profesor.correo"
              minlength="5" pattern="[0-9a-zA-z@.-]*" placeholder="Introduzca el email del Profesor" required>
          </div>
          <div class="form-group col-md-6">
            <label>Status</label>
            <div class="form-group">
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="activo" value="activo"
                  [(ngModel)]="profesor.status" checked>
                <label class="form-check-label" for="activo">
                  Activo
                </label>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="inactivo" value="inactivo">
                <label class="form-check-label" for="inactivo">
                  Inactivo
                </label>
              </div>
            </div>
          </div>
        </div>
        <div align="left" class="bttn">
          <button id="botonguardar" type="submit" class="btn btn-info"
            [disabled]="!formProfesores.form.valid">Guardar</button>
          <button id="botonborrar" type="reset" class="btn btn-danger">Borrar</button>
        </div>

      </form>

    </div>
  </div>
</div>