.container {
  margin-top: 60px;
  margin-right: 50px;
  margin-left: 70px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #ccc;
  padding: 30px;
  padding-top: 20px;
  max-width: 100%;
  min-height: 80%;
  width: 1150px;;
  overflow: hidden;
}

#titulo {
  padding-top: 6px;
}

#subtitulo {
  font-size: 20px;
}

#botonAgregar {
  margin-left: 80%;
  margin-top: -42px;
}

.imgEdit {
}

.imgDelete {
  padding-left: 40px;
}
