<div class="container">
  <!-- TITULO Y BUSCADOR -->
  <div class="row">
    <!-- Titulo -->
    <div class="col-md-2">
      <h4 id="titulo">{{titulo}}</h4>
    </div>
  </div>
  <hr>

  <p id="subtitulo" class="btn btn-default" data-toggle="modal">{{subTitulo}}</p>

  <div class="table-responsive-xl">
    <div *ngIf="!profesor">
      <p>Cargando lista de Profesores..</p>
    </div>

    <div *ngIf="profesor">
      <table class="table table-striped table-hover">
        <thead class="thead-dark" align="center">
          <tr>
            <th class="id">Id</th>
            <th class="name">Nombre</th>
            <th class="apellido">Apellido</th>
            <th class="cedula">Cedula</th>
            <th class="telefono">Telefono</th>
            <th class="correo">Correo</th>
            <th class="estatus">Estatus</th>
            <th class="accion">Acción</th>
          </tr>
        </thead>
        <tbody *ngFor="let profesores of profesor" align=" center">
          <tr>
            <td>{{ profesores.id }}</td>
            <td>{{ profesores.nombre }}</td>
            <td>{{ profesores.apellido }}</td>
            <td>{{ profesores.cedula }}</td>
            <td>{{ profesores.telefono }}</td>
            <td>{{ profesores.email }}</td>
            <td>{{ profesores.status }}</td>
            <td>
              <span class="imgEdit">
                <img src="assets/Images/editar.png" style="height: 24px">
              </span>
              <span class="imgDelete">
                <img (click)="deleteUser(profesores.id)"  (click)="refresh()"  src="assets/Images/eliminar.png" style="height: 24px;">
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
