<div class="container">
    <!-- TITULO Y BUSCADOR -->
    <div class="row">
        <!-- Titulo -->
        <div class="col-md-2">
            <h4 id="titulo">{{titulo}}</h4>
        </div>
    </div>
    <hr>

    <p id="subtitulo" class="btn btn-default" data-toggle="modal">{{subTitulo}}</p><br>
    <table class="table table-hover" style="border-style: none;">
        <tbody align="center">
            <tr>
                <td>Primer Año</td>
                <td><button id="primerAño" type="button" class="btn btn-primary ">Generar Horario</button></td>
            </tr>
            <tr>
                <td>Segundo Año</td>
                <td><button id="segundoAño" type="button" class="btn btn-primary ">Generar Horario</button></td>
            </tr>
            <tr>
                <td>Tercer Año</td>
                <td><button id="tercerAño" type="button" class="btn btn-primary ">Generar Horario</button></td>
            </tr>
            <tr>
                <td>Cuarto Año</td>
                <td><button id="CuartoAño" type="button" class="btn btn-primary ">Generar Horario</button></td>
            </tr>
            <tr>
                <td>Quinto Año</td>
                <td><button id="quintoAño" type="button" class="btn btn-primary ">Generar Horario</button></td>
            </tr>
        </tbody>
    </table>