.container1 {
  margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #ccc;
    padding: 30px;
    padding-top: 20px;
    min-height: 80%;
    max-width: 64%;
    min-width: 50%;
    overflow: hidden;
    margin-left: 20%;
}

.container2 {
margin-top: 7%;
    margin-right: 50px;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px green;
    padding: 30px;
    padding-top: 20px;
    max-width: 100%;
    min-height: 80%;
    min-width: 50%;
    width: 97%;
    overflow: hidden;
}

.container3 {
 margin-top: -106%;
    margin-right: 5%;
    margin-left: 0%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px green;
    padding: 30px;
    padding-top: 20px;
    padding-right: 0%;
    padding-left: 0%;
    max-width: 100%;
    min-height: 80%;
    min-width: 50%;
    overflow: hidden;
   
}

#titulo {
 
  
}

#subtitulo {
  font-size: 20px;
    padding-left: 3%;
    padding-top: 0%;
}

#botonAgregar {
 margin-top: 5px;
  height: 40px;
   width: 710%; 
   margin-left: 6%;

}

.imgEdit {
}

.imgDelete {
  padding-left: 40px;
}
