<div>
  <img id="imgPrincipal" src="assets/Images/home2.jpg">
</div>

<nav id="app" class="navbar navbar-expand-sm justify-content-center ">
  <!-- <a class="navbar-brand" href="#">Sistema de Gestión de Horarios</a>-->
  <div class="justify-content-center" id="navbarNavDropdown">
    <ul class="nav justify-content-end">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Materias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Carga
          Académica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
      </li>

    </ul>
  </div>
</nav>

<div class="container1" aling="center">

  <div class="col-md-4">
    <h4 id="titulo"><b>Cursos Escolares</b></h4>
  </div>
  <hr>
  <div class="col-md-2">
    <button id="botonAgregar" type="button" (click)="irAtras()" class="btn btn-success">
      Ver Cursos
    </button>
  </div>

  <div class="container2">
    <p id="subtitulo" data-toggle="modal">{{subTituloCurso}}</p>
    <hr>
    <form #formAddCurso="ngForm" id="form-curso" (ngSubmit)="onSubmit()" style=" padding-left: 30px;
            padding-top: 15px">
      <div class="row">
        <div class="form-group col-md-10">
          <label>
            Nombre
            <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">
              Este campo no puede estar vacio.
            </span>
          </label>
          <input type="text" ty class="form-control" id="nombre" placeholder="Introduzca un curso" #nombre="ngModel"
            name="nombre" [(ngModel)]="cursos.nombre" pattern="[a-zA-ZÀ-ú0-9\s°]*" minlength="2" required>
        </div>
        <br><br><br> <br>
        <div class="form-group col-md-10">
          <label>
            Dias Académicas
          </label>
          <div class="form-group">
            <div class="form-check-inline">
              <input class="form-check-input" (click)="setDay(0,$event)" type="checkbox" id="lunes" name="lunes"
                value="lunes" checked>
              <label class="form-check-label" for="lunes">
                Lunes
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" (click)="setDay(1,$event)" type="checkbox" id="martes" name="martes"
                value="martes">
              <label class="form-check-label" for="martes">
                Martes
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" (click)="setDay(2,$event)" type="checkbox" name="miercoles" id="miercoles"
                value="miercoles">
              <label class="form-check-label" for="miercoles">
                Miercoles
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" (click)="setDay(3,$event)" type="checkbox" name="jueves" id="jueves"
                value="jueves">
              <label class="form-check-label" for="jueves">
                Jueves
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" (click)="setDay(4,$event)" type="checkbox" name="viernes" id="viernes"
                value="viernes">
              <label class="form-check-label" for="viernes">
                Viernes
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" (click)="setDay(5,$event)" type="checkbox" name="sabado" id="sabado"
                value="sabado">
              <label class="form-check-label" for="sabado">
                Sabado
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" (click)="setDay(6,$event)" type="checkbox" name="domingo" id="domingo"
                value="domingo">
              <label class="form-check-label" for="domingo">
                Domingo
              </label>
            </div>
          </div>
        </div>
        <div class="form-group col-md-10">
          <label for="descripcion">Descripción <b>(Opcional)</b></label>
          <textarea class="form-control" id="descripcion" rows="5"
            placeholder="Realize una breve descripción sobre el curso.." #descripcion="ngModel" name="descripcion"
            [(ngModel)]="cursos.descripcion"></textarea>
        </div>

        <div class="form-group col-md-6">
          <label>Status</label>
          <div class="form-group">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="activo" value="option1" checked>
              <label class="form-check-label" for="activo">
                Activo
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="inactivo" value="option2">
              <label class="form-check-label" for="inactivo">
                Inactivo
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div align="left" class="bttn">
      <button id="botonguardar" type="submit" [disabled]="!formAddCurso.form.valid" class="btn btn-info"
        style="margin-left:33%; padding-left:3%" (click)="guardar()">Guardar</button>
      <button id="botonborrar" style="margin-left:3%; padding-left:2%" type="reset"
        class="btn btn-danger">Borrar</button>
    </div>
  </div>
</div>

<footer id="piePagina" class="" aling="center" style="color:white;">
  <p>All content copyright &copy; 2020, Sistema de Gestión de Horarios.</p>
</footer>