<div>
  <img id="imgPrincipal" src="assets/Images/home2.jpg">
</div>

<nav id="app" class="navbar navbar-expand-sm justify-content-center ">
  <!-- <a class="navbar-brand" href="#">Sistema de Gestión de Horarios</a>-->
  <div class="justify-content-center" id="navbarNavDropdown">
    <ul class="nav justify-content-end">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Materias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Carga
          Académica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li class="dropdown-item1">
        <a id="op1" [routerLink]="['/modificar_user']" [routerLinkActive]="['activado']">Usuario</a>
      </li>
      <li class="dropdown-item2">
        <a id="op2" (click)="logout()" [routerLinkActive]="['activado']">Salir</a>
      </li>
  </div>
  </li>
  </ul>
  </div>
</nav>

<div class="container1" aling="center">

  <div class="col-md-4">
    <h4 id="titulo"><b>Materias</b></h4>
  </div>
  <hr>
  <div class="col-md-2">
    <button id="botonAgregar" type="button" (click)="agregarMateria()" class="btn btn-success">
      Agregar
    </button>
  </div>

  <div class="container2">

    <p id="subtitulo" data-toggle="modal" style="padding-left: 0%;">{{subTitulo}}</p>

    <div class="table-responsive-lg  max-height: 200px ">
      <div *ngIf="!materia">
        <p>Cargando lista de Materias..</p>
      </div>
      <div *ngIf="materia">
        <table class="table table-sm">

          <tbody style="text-align: left;">
            <tr *ngFor="let materias of materia">
              <td style="text-align: left;"> <button class="btn btn-default" data-toggle="modal"
                  (click)="cargaInfo(materias.id)">
                  {{ materias.nombre}}
                </button>
              <td>
                <img (click)="deleteMateria(materias.id)" src="assets/Images/eliminar.png" style="height: 24px;">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>


  <div class="container3">
    <p id="subtitulo" data-toggle="modal">Detalles</p>
    <hr>

    <form #formMaterias="ngForm" id="form-materias" (ngSubmit)="onSubmit()"
      style="padding-left: 3%; padding-top: 0%; padding-bottom: 0%; margin-bottom: 2%;">
      <span>
        <div class="row">
          <div class="form-group col-md-10">
            <label>
              Materia
              <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">
                Este campo no puede estar vacio.
              </span>
            </label>
            <input type="text" class="form-control" id="nombre" #nombre="ngModel" name="nombre"
              [(ngModel)]="infoMateria.nombre" pattern="[a-zA-ZÀ-ú0-9\s]*" minlength="2" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-10">
            <label for="descripcion">Descripción <b>(Opcional)</b></label>
            <textarea class="form-control" id="descripcion" rows="3" #descripcion="ngModel" name="descripcion"
              [(ngModel)]="infoMateria.descripcion"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-8">
            <label>Status</label>
            <div class="form-group">
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="activo" value="activo"
                  #activo="ngModel" name="activo" [(ngModel)]="infoMateria.status" checked>
                <label class="form-check-label" for="activo">
                  Activo
                </label>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="exampleRadios" id="inactivo" value="inactivo"
                  #inactivo="ngModel" name="inactivo" [(ngModel)]="infoMateria.status" checked>
                <label class="form-check-label" for="inactivo">
                  Inactivo
                </label>
              </div>
            </div>
          </div>
        </div>
      </span>
    </form>
    <div align="left" class="bttn">
      <button id="botonguardar" type="submit" [disabled]="!formMaterias.form.valid" class="btn btn-info"
        style="margin-left:33%; padding-left:3%" (click)="updateMateria(infoMateria.id)">Actualizar Información</button>
    </div>
  </div>
</div>

<footer id="piePagina" class="" aling="center" style="color:white;">
  <p>All content copyright &copy; 2020, Sistema de Gestión de Horarios.</p>
</footer>