<nav id="navbar" class="col-lg-12">
  <ul>
    <li id="titulo">U.E INSTITUTO "ELENA DE BUENO"</li>
  </ul>
</nav>
<div>
  <img id="imgPrincipal" src="assets/Images/home2.jpg">
</div>
<div>
  <nav id="app" class="navbar navbar-expand-sm justify-content-center ">
    <!-- <a class="navbar-brand" href="#">Sistema de Gestión de Horarios</a>-->
    <div class="justify-content-center" id="navbarNavDropdown">
      <ul class="nav justify-content-end">

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Materias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Profesores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Carga
            Académica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            Perfil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li class="dropdown-item1">
          <a id="op1" [routerLink]="['/modificar_user']" [routerLinkActive]="['activado']">Usuario</a>
        </li>
        <li class="dropdown-item2">
          <a id="op2" (click)="logout()" [routerLinkActive]="['activado']">Salir</a>
        </li>
    </div>
    </li>
    </ul>
</div>
</nav>

<div class="container">
  <div id="tit">
    <p id="texTit">Sistema de Gestión de Horarios</p>
  </div>

  <div class="text">
    <h4>Presentación</h4><br>
    <p>
      Sistema de gestión que permitirá mantener al día la información de
      asignaturas, cursos y docentes, así como organizar las cargas académicas
      para cada curso de una manera cómoda y flexible.

      Adicionalmente, y como función principal, el sistema permite el generado
      automático de los horarios académicos de forma instantánea.
    </p><br><br><br>
  </div>
</div>

<aside id="aside">
  <div class="titBloque">
    <p style="font-size: 21px; color: white;">Bloques Horarios Especiales</p>
  </div><br>
  <p class="textoBloque1" style="font-size: 18px !important;">Apertura:<br />7am - 7:15pm</p>
  <p class="textoBloque1" style="font-size: 18px !important;">Receso I:<br />8:45am - 9:05am</p>
  <p class="textoBloque1" style="font-size: 18px !important;">Receso II:<br />12:05pm - 12:25pm</p>
</aside>

<br><br>

<footer id="piePagina" class="" aling="center" style="color:white;">
  <p>All content copyright &copy; 2020, Sistema de Gestión de Horarios.</p>
</footer>