<div>
  <img id="imgPrincipal" src="assets/Images/home2.jpg">
</div>

<nav id="app" class="navbar navbar-expand-sm justify-content-center ">
  <!-- <a class="navbar-brand" href="#">Sistema de Gestión de Horarios</a>-->
  <div class="justify-content-center" id="navbarNavDropdown">
    <ul class="nav justify-content-end">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Materias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Carga
          Académica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
      </li>

    </ul>
  </div>
</nav>

<div class="container1" aling="center">

  <div class="col-md-4">
    <h4 id="titulo"><b>Materias</b></h4>
  </div>
  <hr>
  <div class="col-md-2">
    <button id="botonAgregar" type="button" (click)="verMaterias()" class="btn btn-success">
      Ver Materias
    </button>
  </div>

  <div class="container2">
    <p id="subtitulo" data-toggle="modal" style="padding-left: 0%;">{{subTitulo}}</p>
    <hr>
    <form #formAddMaterias="ngForm" id="form-Addmaterias" (ngSubmit)="Guardar()" style="padding-left: 3%;
        padding-top: 0%;
        padding-bottom: 0%;
        margin-bottom: 2%;">
      <div class="row">
        <div class="form-group col-md-10">
          <label>
            Materia
            <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">
              Este campo no puede estar vacio.
            </span>
          </label>
          <input type="text" class="form-control" id="nombre" placeholder="Introduzca una Materia" #nombre="ngModel"
            name="nombre" [(ngModel)]="materia.nombre" pattern="[a-zA-ZÀ-ú0-9\s]*" minlength="2" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-10">
          <label for="descripcion">Descripción <b>(Opcional)</b></label>
          <textarea class="form-control" id="descripcion" rows="3"
            placeholder="Realize una breve descripción sobre la materia.." #descripcion="ngModel" name="descripcion"
            [(ngModel)]="materia.descripcion"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8">
          <label>Status</label>
          <div class="form-group">
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="activo" value="activo"
                #activo="ngModel" name="activo" [(ngModel)]="materia.status" checked>
              <label class="form-check-label" for="activo">
                Activo
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="inactivo" value="inactivo"
                #inactivo="ngModel" name="inactivo" [(ngModel)]="materia.status" checked>
              <label class="form-check-label" for="inactivo">
                Inactivo
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div align="left" class="bttn">
      <button id="botonguardar" type="submit" [disabled]="!formAddMaterias.form.valid" class="btn btn-info"
        style="margin-left:33%; padding-left:3%" (click)="Guardar()">Guardar</button>
      <button id="botonborrar" style="margin-left:3%; padding-left:2%" type="reset"
        class="btn btn-danger">Borrar</button>
    </div>
  </div>
</div>

<footer id="piePagina" class="" aling="center" style="color:white;">
  <p>All content copyright &copy; 2020, Sistema de Gestión de Horarios.</p>
</footer>