<div style="margin-left: 100px" align="left">
  <img id="imgPrincipal" src="assets/Images/home2.jpg">
</div>

<nav id="app" class="navbar navbar-expand-sm justify-content-center ">
  <!-- <a class="navbar-brand" href="#">Sistema de Gestión de Horarios</a>-->
  <div class="justify-content-center" id="navbarNavDropdown">
    <ul class="nav justify-content-end">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-materias']" [routerLinkActive]="['activado']">Materias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-profesores']" [routerLinkActive]="['activado']">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cursos']" [routerLinkActive]="['activado']">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/list-cargaAcademica']" [routerLinkActive]="['activado']">Carga
          Académica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/horarios']" [routerLinkActive]="['activado']">Horarios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li class="dropdown-item1">
        <a id="op1" [routerLink]="['/modificar_user']" [routerLinkActive]="['activado']">Usuario</a>
      </li>
      <li class="dropdown-item2">
        <a id="op2" (click)="logout()" [routerLinkActive]="['activado']">Salir</a>
      </li>
  </div>
  </li>
  </ul>
  </div>
</nav>


<div class="container">
  <!-- TITULO Y BUSCADOR -->
  <div class="row">
    <!-- Titulo -->
    <div class="col-md-2">
      <h4 id="titulo"><b>Materia</b></h4>
    </div>
    <div id="botonAgregar" class="col-md-2">
      <button type="button" (click)="irAtras()" class="btn btn-danger" style="height: 40px; width: 180px;">
        Cancelar
      </button>
    </div>
  </div>
  <hr>

  <p id="subtitulo" class="btn btn-default" data-toggle="modal">Agregar nueva Materia</p><br>

  <form #formMaterias="ngForm" id="form-materias" (ngSubmit)="onSubmit()" style="padding-left: 30px; padding-top: 15px">
    <div class="row">
      <div class="form-group col-md-6">
        <label>
          Materia
          <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">
            Este campo no puede estar vacio.
          </span>
        </label>
        <input type="text" class="form-control" id="nombre" placeholder="Introduzca una Materia" #nombre="ngModel"
          name="nombre" [(ngModel)]="materia.nombre" pattern="[a-zA-Z0-9 ]*" minlength="2" required>
      </div>
      <div class="form-group col-md-6">
        <label>Status</label>
        <div class="form-group">
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="activo" value="activo"
              #activo="ngModel" name="activo" [(ngModel)]="materia.status" checked>
            <label class="form-check-label" for="activo">
              Activo
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="inactivo" value="inactivo"
              #inactivo="ngModel" name="inactivo" [(ngModel)]="materia.status" checked>
            <label class="form-check-label" for="inactivo">
              Inactivo
            </label>
          </div>
        </div>
      </div>
      <div class="form-group col-md-10">
        <label for="descripcion">Descripción <b>(Opcional)</b></label>
        <textarea class="form-control" id="descripcion" rows="5"
          placeholder="Realize una breve descripción sobre la materia.." #descripcion="ngModel" name="descripcion"
          [(ngModel)]="materia.descripcion"></textarea>
      </div>
    </div>
    <div align="left" class="bttn">
      <button id="botonguardar" type="submit" [disabled]="!formMaterias.form.valid"
        class="btn btn-info">Guardar</button>
      <button id="botonborrar" type="reset" class="btn btn-danger">Borrar</button>
    </div>

  </form>

</div>

<br><br>

<footer id="piePagina" class="" aling="center" style="color:white;">
  <p>All content copyright &copy; 2020, Sistema de Gestión de Horarios.</p>
</footer>